/* 400 */
@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir Next Rounded Pro Regular'), url('AvenirNextRoundedPro-Reg.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Avenir Next Rounded Pro Italic'), url('AvenirNextRoundedPro-Italic.otf') format("opentype");
}

/* 600 */
@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Avenir Next Rounded Pro Medium'), url('AvenirNextRoundedPro-Med.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: italic;
  font-weight: 600;
  src: local('Avenir Next Rounded Pro Medium Italic'), url('AvenirNextRoundedPro-MedIt.otf') format("opentype");
}

/* 700 */
@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Next Rounded Pro Demi'), url('AvenirNextRoundedPro-Demi.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Avenir Next Rounded Pro Demi Italic'), url('AvenirNextRoundedPro-DemiIt.otf') format("opentype");
}

/* 800 */
@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: normal;
  font-weight: 800;
  src: local('Avenir Next Rounded Pro Bold'), url('AvenirNextRoundedPro-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next Rounded Pro';
  font-style: italic;
  font-weight: 800;
  src: local('Avenir Next Rounded Pro Bold Italic'), url('AvenirNextRoundedPro-BoldIt.otf') format("opentype");
}
