/* 100 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 100;
  src: url('AvenirNextLTPro-Thin.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 100;
  src: url('AvenirNextLTPro-ThinItalic.otf') format("opentype");
}

/* 200 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 200;
  src: url('AvenirNextLTPro-Ultralight.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 200;
  src: url('AvenirNextLTPro-UltralightItalic.otf') format("opentype");
}

/* 300 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 300;
  src: url('AvenirNextLTPro-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 300;
  src: url('AvenirNextLTPro-LightItalic.otf') format("opentype");
}

/* 400 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 400;
  src: url('AvenirNextLTPro-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 400;
  src: url('AvenirNextLTPro-Italic.otf') format("opentype");
}

/* 600 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 600;
  src: url('AvenirNextLTPro-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 600;
  src: url('AvenirNextLTPro-MediumItalic.otf') format("opentype");
}

/* 700 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 700;
  src: url('AvenirNextLTPro-Demi.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 700;
  src: url('AvenirNextLTPro-DemiItalic.otf') format("opentype");
}

/* 800 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 800;
  src: url('AvenirNextLTPro-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 800;
  src: url('AvenirNextLTPro-BoldItalic.otf') format("opentype");
}

/* 900 */
@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: normal;
  font-weight: 900;
  src: url('AvenirNextLTPro-Heavy.otf') format("opentype");
}

@font-face {
  font-family: 'Avenir Next LT Pro';
  font-style: italic;
  font-weight: 900;
  src: url('AvenirNextLTPro-HeavyItalic.otf') format("opentype");
}
